%form{:action => '/search', :method => 'get', :name => 'search'}
  %input{:type => 'text', :name => 'main_tag'}
  %input{:type => 'text', :name => 'sub_tag1'}
  %input{:type => 'text', :name => 'sub_tag2'}
  %input{:type => 'submit', :value => 'Search!'}
